*{
	margin: 0;
	padding:0;
}
li{
	list-style: none;
}
.left{
	float:left
}
.right{
	float:right
}
img{
	vertical-align: middle;
}
html,body{
	height:100%;
	position:relative;
}
a{
	text-decoration: none;
	font-size:14px;
	color:black;
	}
header{
	height:29;
	background: #f5f5f5;
	border-top:1px solid #ccc;
	.headerShow{
		width:1200px;
		height:29px;
		margin: 0 auto;
		background: #f5f5f5;
		position:relative;
		.header-qrcord{
			position:absolute;
			top:29px;
			left:855px;
			display:none;
		}
		.headerLeft li{
			margin-right:22px;
		}
		.headerMid{
			margin-left:153px;
			li{
				margin-right:20px
			}
		}
		.headerRig img{
			vertical-align: middle;
		}
		.headerRig li{
			margin-left:20px;
		}
		i{
			font-size:10px
		}
	}
	a:hover{
		text-decoration:underline
	}

}
header li{
	font-size:12px;
	float:left;
	line-height:29px;
}
#rightNav{
	position:fixed;
	top:0;
	right:0;
	width:37px;
	height:100%;
	background:#2d2d2d;
	z-index:10;
	.right-box{
		width:37px;
		height:266px;
		margin-top:-250px;
		position:absolute;
		top:50%;
		div{
			width:37px;
			height:37px;
			margin-bottom:12px;
		}
		.zc-number-f{
			position: relative;
		}
		.icon1{
			background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
		}
		.icon2{
			background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
			background-position: 0 -74px;
		}
		.icon3{
			background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
			background-position: 0 -111px;
		}
		.zc-number{
			position: absolute;
   			top: 4px;
    		right: 3px;
    		padding: 1px 4px 0;
			height: 13px;
   			font: 12px/13px Arial;
    		background: #f33;
			color: #fff;
			border-radius: 10px;
		}
		.icon4{
			background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
			background-position: 0 -693px;
		}
	}
}
.top{
	height:60px;
	padding:30px 0 ;
	.topShow{
		width:94%;
		height:100%;
		margin:0 auto;
		.city-location{
			width:28px;
			height:26px;
			border:1px solid #ccc;
			margin-top:10px;
			margin-left:20px;
			padding-left:12px;
			padding-right:26px;
			.city-name{
				width:28px;
				height:26px;
				font-size:12px
			}
		}
		.quick-entry{
			width:307px;
			height:36px;
			padding-top:12px;
			margin-left:65px;
			a{
				display:block;
				line-height:36px;
				margin-left:20px;
				float:right;
				text-align:center;
			}
			.order{
			
				width:84x;
				height:36px;
			}
			.coupon{
				
				width:97px;
				height:36px;
			}
			.car{
				width:66px;
				height:36px;
			}
		}
		.search-box{
			position:relative;
			width:536px;
			height:32px;
			border:2px solid #ec3639;
			margin-top:12px;
			.search-text{
			    display:inline-block;
				width:441px;
				height:20px;
				padding:6px 10px;
				border:none;
			}
			.search-btn{
				width:75px;
				height:32px;
				border:none;
				background:#ec3639;
				position:absolute;
				top:0;
				left:461px;
			}
		}
	}
}
.navMid{
	height:39px;
	.navShow{
		width:1200px;
		height:39px;
		margin:0 auto;
		
		.category-body{
			position:relative;
			height:39px;
			width:160px;
			.nav-header{
				position:absolute;
				left:180px;
				width:1020px;
				height:39px;			
				li{
					float:left;
					width:56px;
					height:39px;
					padding-right:30px;
					a{  display:block;
						width:92px;
						height:39px;
						padding:0 10px;
						font-size:18px;
						line-height:36px;
					}
					a:hover{
						color:red;
						text-decoration:underline;
					}
				}
				.w92{
					width:92px;
				}
			}
			.category-nav{
				position:relative;
				width:108px;
				height:39px;
				background:#ec3639;
				padding-left:52px;
				i{
					position:absolute;
					top:14px;
					left:26px;
					color:white;
				}
				.category-text{
					text-align:center;
					line-height:39px;
					color:white;
				}			
			}
			.category-list{
				width:160px;
				height:400px;
				position:absolute;
				top:39px;
				background:#4d4d4d;
				display:none;
				.category-ch{
					padding-left:15px;
					margin:0 10px;
					width:135px;
					height:54px;
					background:#4d4d4d;
					i{
						margin-right:5px;
						font-size:18px;
						color:#fff;
					}
					a{	
						height:54px;
						line-height:54px;
						font-size:16px;
						color:#fff;

					}
					a:hover{
						color:red;
						text-decoration:underline;
					}					
				}
			}		
		}		
	}
}
.wraper{
	width:1200px;
	margin:0 auto;
	.wraper-top{
		width:1208px;
		height:32px;
		margin-left:-8px;
		font: 12px/32px SimSun;
		color: #999;
		a{
			margin:0 8px;
		}
	}
	.wraper-body{
		border:1px solid #ededed;
		overflow:hidden;
		width:1000px;
		float:left;
		font: 12px/1.5 "Microsoft YaHei";
		color: #333;
		.wraper-body-all{
			width:400px;
			height:552px;
			padding:10px 0 0 20px;
			float:left;
			position: relative;
			.wraper-body-img{
				position: relative;
				width:400px;
				height:400px;
				margin-bottom:10px;
				.wraper-a{
					width:400px;
					height:400px;
					display:none;
					position:absolute;
					left:0;
					top:0;
				}
				.wraper-a:first-child{
					display:block;
				}
				.wraper-mark{
					width:198.5px;
					height:198.5px;
					position: absolute;
					left:0;
					top:0;
					background:rgba($color: #fff, $alpha: 0.2);
					display:none;
				}
			}
			.wraper-bigimg{
				width:400px;
				height:400px;
				position: absolute;
				top:10px;
				left:415px;
				border:1px solid #ddd;
				overflow:hidden;
				display:none;
				z-index:100;
				img{
					position: absolute;;
					left:0;
					right:0;
					display:none;
				}
				img:first-child{
					display: block;
				}
			}
			.wraper-focus{
				width:400px;
				height:70px;
				ul{
					width:415px;
					height:70px;
					padding-left:1px;
					li{
						float:left;
						width:70px;
						height:70px;
						margin:0 12px 0 0;
						position: relative;
						a{
							display: block;
							width:70px;
							height:70px;
						}
						span{
							width:70px;
							height:70px;
							border:2px solid red;
							display:none;
							position:absolute;
							left:0;
							top:0;
						}
					}
				}
			}
		}
		.wraper-body-else{
			width:530px;
			padding:10px 20px 0 0;
			height:881px;
			float:right;
			.else-title{
				width:530px;
				height:44px;
				padding:7px 0 0 0 ;
				margin:0 0 10px 0 ;
				font: 16px/22px "Microsoft YaHei";
				.else-sp{
					font:14px;
					color:#999;
					display:block;
				}
			}
			.else-body{
				width:510px;
				height:48px;
				padding:0 10px;
				background:#c00;
				.else-body-log{
					display:inline-block;
					width:125px;
					height:48px;
					background:url(http://icon.zol-img.com.cn/newshop/shop/detail/tuan/mall.png) no-repeat;
					background-position: left center;
					margin-left:-30px;
					float:left;
					text-align:right;
					font-size: 18px;
					vertical-align: middle;
					line-height:48px;
					color:white;
				}
				.else-body-tim{
					margin:0 0 0 4px;
					display:inline-block;
					width:44px;
					height:48px;
					float:left;
					background:url(http://icon.zol-img.com.cn/newshop/shop/detail/tuan/group.png) no-repeat;
					background-position: left center;
				}
				.else-body-right{
					width:189px;
					height:48px;
					float:right;
					.else-right-body{
						height:189px;
						height:24px;
						margin:12px 0 0 0; 
						font-size: 14px;
						color: #fff;
						line-height:24px;
						span{
							text-align:center;
						}
						.tim-h{
							display:inline-block;
							width:20px;
							height:24px;
							background:white;
							color:#c00;
						}
						.tim-m{
							display:inline-block;
							width:20px;
							height:24px;
							background:white;
							color:#c00;
						}
						.tim-s{
							display:inline-block;
							width:20px;
							height:24px;
							background:white;
							color:#c00;
						}
					}
				}
			}
			.else-price{
				width:510px;
				height:30px;
				padding:5px 10px;
				background:#f7f7f7;
				.else-price-dl{
					width:430px;
					height:30px;
					padding:0 0 0 75px;
					position: relative;
					.else-price-dt{
						width:65px;
						height:30px;
						position: absolute;
						top:0;
						left:0;
					}
					
				}
			}
			.else-infor{
				width:530px;
				height:635px;
				padding:10px 0 20px 0;
				.else-num-dd{
					width:530px;
					height:32px;
					.else-num-btn{
						width:455px;
						height:32px;
						padding:0 0 0 75px;
						.else-num-d{
							width:102px;
							height:28px;
							margin:0 10px 0 0;
							border:1px solid #ccc;
							span{
								width:28px;
								height:28px;
								display:block;
								float:left;
								line-height:28px;
								text-align:center;
							}
							.else-text{
								width:44px;
								height:28px;
								border:1px solid #ccc;
								border-top:none;
								border-bottom:none;
								float:left;
								text-align:center;
							}
						}
					}
				}
				.else-btn{
					width:465px;
					height:50px;
					padding:30px 0 0 65px;
					div{
						float:left;
						text-align:center;
					}
					.qr-btn{
						width:140px;
						height:50px;
						margin:0 10px 0 0;
						color: #fff;
						background: #c00;
						font: 18px/50px "Microsoft YaHei";
					}
					.car-btn{
						width:138px;
						height:48px;
						border: 1px solid #ffd9d9;
   						background-color: #ffeded;
   						color: #c00;
						line-height: 48px;
						font: 18px/50px "Microsoft YaHei";
					}
				}
			}
		}
	}
}