* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  vertical-align: middle;
}

html, body {
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}

header {
  height: 29;
  background: #f5f5f5;
  border-top: 1px solid #ccc;
}
header .headerShow {
  width: 1200px;
  height: 29px;
  margin: 0 auto;
  background: #f5f5f5;
  position: relative;
}
header .headerShow .header-qrcord {
  position: absolute;
  top: 29px;
  left: 855px;
  display: none;
}
header .headerShow .headerLeft li {
  margin-right: 22px;
}
header .headerShow .headerMid {
  margin-left: 153px;
}
header .headerShow .headerMid li {
  margin-right: 20px;
}
header .headerShow .headerRig img {
  vertical-align: middle;
}
header .headerShow .headerRig li {
  margin-left: 20px;
}
header .headerShow i {
  font-size: 10px;
}
header a:hover {
  text-decoration: underline;
}

header li {
  font-size: 12px;
  float: left;
  line-height: 29px;
}

#rightNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  background: #2d2d2d;
  z-index: 10;
}
#rightNav .right-box {
  width: 37px;
  height: 266px;
  margin-top: -250px;
  position: absolute;
  top: 50%;
}
#rightNav .right-box div {
  width: 37px;
  height: 37px;
  margin-bottom: 12px;
}
#rightNav .right-box .zc-number-f {
  position: relative;
}
#rightNav .right-box .icon1 {
  background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
}
#rightNav .right-box .icon2 {
  background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
  background-position: 0 -74px;
}
#rightNav .right-box .icon3 {
  background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
  background-position: 0 -111px;
}
#rightNav .right-box .zc-number {
  position: absolute;
  top: 4px;
  right: 3px;
  padding: 1px 4px 0;
  height: 13px;
  font: 12px/13px Arial;
  background: #f33;
  color: #fff;
  border-radius: 10px;
}
#rightNav .right-box .icon4 {
  background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
  background-position: 0 -693px;
}

.top {
  height: 60px;
  padding: 30px 0;
}
.top .topShow {
  width: 94%;
  height: 100%;
  margin: 0 auto;
}
.top .topShow .city-location {
  width: 28px;
  height: 26px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 12px;
  padding-right: 26px;
}
.top .topShow .city-location .city-name {
  width: 28px;
  height: 26px;
  font-size: 12px;
}
.top .topShow .quick-entry {
  width: 307px;
  height: 36px;
  padding-top: 12px;
  margin-left: 65px;
}
.top .topShow .quick-entry a {
  display: block;
  line-height: 36px;
  margin-left: 20px;
  float: right;
  text-align: center;
}
.top .topShow .quick-entry .order {
  width: 84x;
  height: 36px;
}
.top .topShow .quick-entry .coupon {
  width: 97px;
  height: 36px;
}
.top .topShow .quick-entry .car {
  width: 66px;
  height: 36px;
}
.top .topShow .search-box {
  position: relative;
  width: 536px;
  height: 32px;
  border: 2px solid #ec3639;
  margin-top: 12px;
}
.top .topShow .search-box .search-text {
  display: inline-block;
  width: 441px;
  height: 20px;
  padding: 6px 10px;
  border: none;
}
.top .topShow .search-box .search-btn {
  width: 75px;
  height: 32px;
  border: none;
  background: #ec3639;
  position: absolute;
  top: 0;
  left: 461px;
}

.navMid {
  height: 39px;
}
.navMid .navShow {
  width: 1200px;
  height: 39px;
  margin: 0 auto;
}
.navMid .navShow .category-body {
  position: relative;
  height: 39px;
  width: 160px;
}
.navMid .navShow .category-body .nav-header {
  position: absolute;
  left: 180px;
  width: 1020px;
  height: 39px;
}
.navMid .navShow .category-body .nav-header li {
  float: left;
  width: 56px;
  height: 39px;
  padding-right: 30px;
}
.navMid .navShow .category-body .nav-header li a {
  display: block;
  width: 92px;
  height: 39px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 36px;
}
.navMid .navShow .category-body .nav-header li a:hover {
  color: red;
  text-decoration: underline;
}
.navMid .navShow .category-body .nav-header .w92 {
  width: 92px;
}
.navMid .navShow .category-body .category-nav {
  position: relative;
  width: 108px;
  height: 39px;
  background: #ec3639;
  padding-left: 52px;
}
.navMid .navShow .category-body .category-nav i {
  position: absolute;
  top: 14px;
  left: 26px;
  color: white;
}
.navMid .navShow .category-body .category-nav .category-text {
  text-align: center;
  line-height: 39px;
  color: white;
}
.navMid .navShow .category-body .category-list {
  width: 160px;
  height: 400px;
  position: absolute;
  top: 39px;
  background: #4d4d4d;
  display: none;
}
.navMid .navShow .category-body .category-list .category-ch {
  padding-left: 15px;
  margin: 0 10px;
  width: 135px;
  height: 54px;
  background: #4d4d4d;
}
.navMid .navShow .category-body .category-list .category-ch i {
  margin-right: 5px;
  font-size: 18px;
  color: #fff;
}
.navMid .navShow .category-body .category-list .category-ch a {
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  color: #fff;
}
.navMid .navShow .category-body .category-list .category-ch a:hover {
  color: red;
  text-decoration: underline;
}

.wraper {
  width: 1200px;
  margin: 0 auto;
}
.wraper .wraper-top {
  width: 1208px;
  height: 32px;
  margin-left: -8px;
  font: 12px/32px SimSun;
  color: #999;
}
.wraper .wraper-top a {
  margin: 0 8px;
}
.wraper .wraper-body {
  border: 1px solid #ededed;
  overflow: hidden;
  width: 1000px;
  float: left;
  font: 12px/1.5 "Microsoft YaHei";
  color: #333;
}
.wraper .wraper-body .wraper-body-all {
  width: 400px;
  height: 552px;
  padding: 10px 0 0 20px;
  float: left;
  position: relative;
}
.wraper .wraper-body .wraper-body-all .wraper-body-img {
  position: relative;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}
.wraper .wraper-body .wraper-body-all .wraper-body-img .wraper-a {
  width: 400px;
  height: 400px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.wraper .wraper-body .wraper-body-all .wraper-body-img .wraper-a:first-child {
  display: block;
}
.wraper .wraper-body .wraper-body-all .wraper-body-img .wraper-mark {
  width: 198.5px;
  height: 198.5px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  display: none;
}
.wraper .wraper-body .wraper-body-all .wraper-bigimg {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 10px;
  left: 415px;
  border: 1px solid #ddd;
  overflow: hidden;
  display: none;
  z-index: 100;
}
.wraper .wraper-body .wraper-body-all .wraper-bigimg img {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}
.wraper .wraper-body .wraper-body-all .wraper-bigimg img:first-child {
  display: block;
}
.wraper .wraper-body .wraper-body-all .wraper-focus {
  width: 400px;
  height: 70px;
}
.wraper .wraper-body .wraper-body-all .wraper-focus ul {
  width: 415px;
  height: 70px;
  padding-left: 1px;
}
.wraper .wraper-body .wraper-body-all .wraper-focus ul li {
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 12px 0 0;
  position: relative;
}
.wraper .wraper-body .wraper-body-all .wraper-focus ul li a {
  display: block;
  width: 70px;
  height: 70px;
}
.wraper .wraper-body .wraper-body-all .wraper-focus ul li span {
  width: 70px;
  height: 70px;
  border: 2px solid red;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.wraper .wraper-body .wraper-body-else {
  width: 530px;
  padding: 10px 20px 0 0;
  height: 881px;
  float: right;
}
.wraper .wraper-body .wraper-body-else .else-title {
  width: 530px;
  height: 44px;
  padding: 7px 0 0 0;
  margin: 0 0 10px 0;
  font: 16px/22px "Microsoft YaHei";
}
.wraper .wraper-body .wraper-body-else .else-title .else-sp {
  font: 14px;
  color: #999;
  display: block;
}
.wraper .wraper-body .wraper-body-else .else-body {
  width: 510px;
  height: 48px;
  padding: 0 10px;
  background: #c00;
}
.wraper .wraper-body .wraper-body-else .else-body .else-body-log {
  display: inline-block;
  width: 125px;
  height: 48px;
  background: url(http://icon.zol-img.com.cn/newshop/shop/detail/tuan/mall.png) no-repeat;
  background-position: left center;
  margin-left: -30px;
  float: left;
  text-align: right;
  font-size: 18px;
  vertical-align: middle;
  line-height: 48px;
  color: white;
}
.wraper .wraper-body .wraper-body-else .else-body .else-body-tim {
  margin: 0 0 0 4px;
  display: inline-block;
  width: 44px;
  height: 48px;
  float: left;
  background: url(http://icon.zol-img.com.cn/newshop/shop/detail/tuan/group.png) no-repeat;
  background-position: left center;
}
.wraper .wraper-body .wraper-body-else .else-body .else-body-right {
  width: 189px;
  height: 48px;
  float: right;
}
.wraper .wraper-body .wraper-body-else .else-body .else-body-right .else-right-body {
  height: 189px;
  height: 24px;
  margin: 12px 0 0 0;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
}
.wraper .wraper-body .wraper-body-else .else-body .else-body-right .else-right-body span {
  text-align: center;
}
.wraper .wraper-body .wraper-body-else .else-body .else-body-right .else-right-body .tim-h {
  display: inline-block;
  width: 20px;
  height: 24px;
  background: white;
  color: #c00;
}
.wraper .wraper-body .wraper-body-else .else-body .else-body-right .else-right-body .tim-m {
  display: inline-block;
  width: 20px;
  height: 24px;
  background: white;
  color: #c00;
}
.wraper .wraper-body .wraper-body-else .else-body .else-body-right .else-right-body .tim-s {
  display: inline-block;
  width: 20px;
  height: 24px;
  background: white;
  color: #c00;
}
.wraper .wraper-body .wraper-body-else .else-price {
  width: 510px;
  height: 30px;
  padding: 5px 10px;
  background: #f7f7f7;
}
.wraper .wraper-body .wraper-body-else .else-price .else-price-dl {
  width: 430px;
  height: 30px;
  padding: 0 0 0 75px;
  position: relative;
}
.wraper .wraper-body .wraper-body-else .else-price .else-price-dl .else-price-dt {
  width: 65px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.wraper .wraper-body .wraper-body-else .else-infor {
  width: 530px;
  height: 635px;
  padding: 10px 0 20px 0;
}
.wraper .wraper-body .wraper-body-else .else-infor .else-num-dd {
  width: 530px;
  height: 32px;
}
.wraper .wraper-body .wraper-body-else .else-infor .else-num-dd .else-num-btn {
  width: 455px;
  height: 32px;
  padding: 0 0 0 75px;
}
.wraper .wraper-body .wraper-body-else .else-infor .else-num-dd .else-num-btn .else-num-d {
  width: 102px;
  height: 28px;
  margin: 0 10px 0 0;
  border: 1px solid #ccc;
}
.wraper .wraper-body .wraper-body-else .else-infor .else-num-dd .else-num-btn .else-num-d span {
  width: 28px;
  height: 28px;
  display: block;
  float: left;
  line-height: 28px;
  text-align: center;
}
.wraper .wraper-body .wraper-body-else .else-infor .else-num-dd .else-num-btn .else-num-d .else-text {
  width: 44px;
  height: 28px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  float: left;
  text-align: center;
}
.wraper .wraper-body .wraper-body-else .else-infor .else-btn {
  width: 465px;
  height: 50px;
  padding: 30px 0 0 65px;
}
.wraper .wraper-body .wraper-body-else .else-infor .else-btn div {
  float: left;
  text-align: center;
}
.wraper .wraper-body .wraper-body-else .else-infor .else-btn .qr-btn {
  width: 140px;
  height: 50px;
  margin: 0 10px 0 0;
  color: #fff;
  background: #c00;
  font: 18px/50px "Microsoft YaHei";
}
.wraper .wraper-body .wraper-body-else .else-infor .else-btn .car-btn {
  width: 138px;
  height: 48px;
  border: 1px solid #ffd9d9;
  background-color: #ffeded;
  color: #c00;
  line-height: 48px;
  font: 18px/50px "Microsoft YaHei";
}

/*# sourceMappingURL=details.css.map */
