* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  position: relative;
}

a {
  font-size: 14px;
  color: black;
}

header {
  height: 29;
  background: #f5f5f5;
  border-top: 1px solid #ccc;
}
header .headerShow {
  width: 1200px;
  height: 29px;
  margin: 0 auto;
  background: #f5f5f5;
  position: relative;
}
header .headerShow .header-qrcord {
  position: absolute;
  top: 29px;
  left: 855px;
  display: none;
}
header .headerShow .headerLeft li {
  margin-right: 22px;
}
header .headerShow .headerMid {
  margin-left: 153px;
}
header .headerShow .headerMid li {
  margin-right: 20px;
}
header .headerShow .headerRig img {
  vertical-align: middle;
}
header .headerShow .headerRig li {
  margin-left: 20px;
}
header .headerShow i {
  font-size: 10px;
}
header a:hover {
  text-decoration: underline;
}

header li {
  font-size: 12px;
  float: left;
  line-height: 29px;
}

header
#rightNav {
  position: fixed;
  right: 0;
  top: 0;
  width: 39px;
  height: 689px;
  background-color: green;
}

.top {
  height: 60px;
  padding: 30px 0;
}
.top .topShow {
  width: 94%;
  margin: 0 auto;
}
.top .topShow .city-location {
  width: 28px;
  height: 26px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 12px;
  padding-right: 26px;
}
.top .topShow .city-location .city-name {
  width: 28px;
  height: 26px;
  font-size: 12px;
}
.top .topShow .quick-entry {
  width: 307px;
  height: 36px;
  padding-top: 7px;
  margin-left: 65px;
}
.top .topShow .quick-entry a {
  margin-left: 20px;
  float: right;
  text-align: center;
}
.top .topShow .quick-entry .order {
  width: 84x;
  height: 36px;
}
.top .topShow .quick-entry .coupon {
  width: 97px;
  height: 36px;
}
.top .topShow .quick-entry .car {
  width: 66px;
  height: 36px;
}
.top .topShow .search-box {
  position: relative;
  width: 536px;
  height: 32px;
  border: 2px solid #ec3639;
  margin-top: 7px;
}
.top .topShow .search-box .search-text {
  display: inline-block;
  width: 441px;
  height: 20px;
  padding: 6px 10px;
  border: none;
}
.top .topShow .search-box .search-btn {
  width: 75px;
  height: 32px;
  border: none;
  background: #ec3639;
  position: absolute;
  top: 0;
  left: 461px;
}

.navMid {
  height: 39px;
  background: #f5f5f5;
}
.navMid .navShow {
  width: 1200px;
  height: 39px;
  margin: 0 auto;
}
.navMid .navShow .category-body {
  position: relative;
  height: 39px;
  width: 160px;
}
.navMid .navShow .category-body .nav-header {
  position: absolute;
  left: 180px;
  width: 1020px;
  height: 39px;
}
.navMid .navShow .category-body .nav-header li {
  float: left;
  width: 56px;
  height: 39px;
  padding-right: 30px;
}
.navMid .navShow .category-body .nav-header li a {
  width: 36px;
  height: 39px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 36px;
}
.navMid .navShow .category-body .nav-header li a:hover {
  color: red;
  text-decoration: underline;
}
.navMid .navShow .category-body .category-nav {
  position: relative;
  width: 108px;
  height: 39px;
  background: #ec3639;
  padding-left: 52px;
}
.navMid .navShow .category-body .category-nav i {
  position: absolute;
  top: 14px;
  left: 26px;
  color: white;
}
.navMid .navShow .category-body .category-nav .category-text {
  text-align: center;
  line-height: 39px;
  color: white;
}
.navMid .navShow .category-body .category-list {
  width: 160px;
  height: 400px;
  position: absolute;
  top: 39px;
  background: #4d4d4d;
}
.navMid .navShow .category-body .category-list .category-ch {
  padding-left: 15px;
  margin: 0 10px;
  width: 135px;
  height: 54px;
  background: #4d4d4d;
}
.navMid .navShow .category-body .category-list .category-ch i {
  margin-right: 5px;
  font-size: 18px;
  color: #fff;
}
.navMid .navShow .category-body .category-list .category-ch a {
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  color: #fff;
}
.navMid .navShow .category-body .category-list .category-ch a:hover {
  color: red;
  text-decoration: underline;
}
.navMid .navShow .category-body .category-list .category-dropdown {
  border-top: 2px solid #ccc;
  margin-top: -2px;
  width: 680px;
  height: 400px;
  background: #fff;
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}
.navMid .navShow .category-body .category-list .category-dropdown .category-all {
  display: none;
}
.navMid .navShow .category-body .category-list .category-dropdown .category-all a {
  margin: 0 20px;
}

.banner {
  z-index: -1;
  width: 100%;
  height: 400px;
  position: relative;
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

.oneSection {
  width: 100%;
  background: #f5f5f5;
}
.oneSection .oneSection-show {
  background: white;
  position: relative;
  width: 1200px;
  height: 564px;
  margin: 0 auto;
}
.oneSection .oneSection-show .oneSection-show-right {
  position: absolute;
  left: -19px;
  top: -23px;
}
.oneSection .oneSection-show .ware-list {
  width: 684px;
  height: 562px;
  margin-left: 160px;
}
.oneSection .oneSection-show .ware-list a:hover {
  color: red;
  text-decoration: underline;
}
.oneSection .oneSection-show .ware-list .ware-right-u {
  position: absolute;
  right: 0;
  width: 356px;
  height: 561px;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items {
  width: 316px;
  height: 140PX;
  padding: 30px 20px 17px 20px;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items .ware-pic {
  float: left;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items .ware-pic img {
  width: 140px;
  height: 140px;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items .ware-right-body {
  width: 156px;
  height: 129px;
  margin-left: 160px;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items .ware-right-body a {
  font-size: 14px;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items .ware-right-body .ware-right-prs a {
  color: red;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items .ware-right-body .ware-right-prs {
  margin-bottom: 6px;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items .ware-right-body .group {
  width: 156px;
  height: 22px;
  margin-bottom: 15px;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items .ware-right-body .group .group-sp {
  width: 108px;
  height: 22px;
  display: inline-block;
  padding: 0 15px;
  background: #ffe3e3;
  border-radius: 10px;
  font-size: 12px;
  line-height: 22px;
}
.oneSection .oneSection-show .ware-list .ware-right-u .ware-right-items .ware-right-body .arrival-btn {
  display: block;
  width: 155px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  background: url(http://icon.zol-img.com.cn/newshop/shop/index/arrivalBtn.png) no-repeat center;
}
.oneSection .oneSection-show .ware-list .ware-items {
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  float: left;
  width: 227px;
  height: 280px;
}
.oneSection .oneSection-show .ware-list .ware-items .ware-img {
  text-align: center;
  margin-bottom: 10px;
}
.oneSection .oneSection-show .ware-list .ware-items .ware-img img {
  width: 180px;
  height: 180px;
}
.oneSection .oneSection-show .ware-list .ware-items .ware-body {
  width: 167px;
  height: 76px;
  padding: 0 30px;
}
.oneSection .oneSection-show .ware-list .ware-items .ware-body .ware-prs {
  color: red;
}

.section2 {
  width: 100%;
  background: #f5f5f5;
}
.section2 .section2-show {
  position: relative;
  width: 1200px;
  height: 122px;
  padding-top: 34px;
  margin: 0 auto;
}
.section2 .section2-show .section2-body {
  height: 102px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.section2 .section2-show .section2-body .coupon-list {
  width: 1200px;
  height: 102px;
}
.section2 .section2-show .section2-body .coupon-list li {
  float: left;
  width: 221px;
  height: 82px;
  padding: 10px;
  padding-bottom: none;
  border: 1px;
  margin-right: 15px;
  background: red;
}
.section2 .section2-show .section2-body .coupon-list .all {
  width: 137px;
}

.section3 {
  width: 1200px;
  height: 605px;
  margin: 0 auto;
  padding-top: 34px;
}
.section3 .section-header {
  width: 1164px;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 36px;
  background: pink;
}
.section3 .section-body {
  width: 100%;
  height: 559px;
  background: yellow;
}
.section3 .section-body .section-img img {
  width: 392px;
  height: 200px;
}
.section3 .section-body .section-body-u {
  width: 100%;
  height: 359px;
}
.section3 .section-body .section-body-u .section-body-list {
  width: 200px;
  height: 315px;
  float: left;
  padding: 18px;
  padding-bottom: 24px;
}
.section3 .section-body .section-body-u .section-body-pic img {
  width: 200px;
  height: 200px;
}
.section3 .section-body .section-body-u .sct-prs {
  float: left;
}

.noopsyche-box {
  width: 1200px;
  height: 745px;
  background: green;
  margin: 0 auto;
}
.noopsyche-box .noopsyche-box-header {
  width: 1161px;
  height: 36px;
  padding-left: 39px;
  margin-bottom: 10px;
  background: pink;
}
.noopsyche-box .noopsyche-box-body {
  width: 1160px;
  height: 658px;
  padding: 20px;
  background: red;
}
.noopsyche-box .noopsyche-box-body .noopsyche-top {
  width: 1160px;
  height: 235px;
  background: blue;
  position: relative;
}
.noopsyche-box .noopsyche-box-body .noopsyche-top .noop-right {
  position: absolute;
  top: 0;
  left: 731px;
}
.noopsyche-box .noopsyche-box-body .noopsyche-top .noop-right img {
  width: 210px;
  heihgt: 235px;
}
.noopsyche-box .noopsyche-box-body .noopsyche-top .noopsuche-top-show {
  width: 731px;
  height: 235px;
  position: relative;
}
.noopsyche-box .noopsyche-box-body .noopsyche-top .noopsuche-top-show .noopsuche-top-show-u {
  width: 101px;
  height: 235px;
  background: pink;
  float: left;
}
.noopsyche-box .noopsyche-box-body .noopsyche-top .noopsuche-top-show .noopsuche-top-show-u li {
  width: 101px;
  height: 47px;
  border-top: 1px solid #ccc;
  margin-top: -1px;
  text-align: center;
  line-height: 46px;
}
.noopsyche-box .noopsyche-box-body .noopsyche-top .noopsuche-top-show .noopsuche-top-show-u .all1 {
  background: #ce1a1b;
}
.noopsyche-box .noopsyche-box-body .noopsyche-top .noopsuche-top-show .noopsuche-top-u {
  width: 630px;
  height: 235px;
  background: white;
  margin-left: 101px;
}
.noopsyche-box .noopsyche-box-body .noopsyche-top .noopsuche-top-show .noopsuche-top-u li {
  position: absolute;
  top: 0;
  left: 101px;
}
.noopsyche-box .noopsyche-box-body .clearfix {
  position: relative;
}
.noopsyche-box .noopsyche-box-body .clearfix ul li {
  width: 183px;
  height: 180px;
  float: left;
  margin-right: 1px;
}
.noopsyche-box .noopsyche-box-body .clearfix ul .learfix-list1 {
  width: 182px;
}
.noopsyche-box .noopsyche-box-body .clearfix ul .clearfix-list2 {
  width: 182px;
}
.noopsyche-box .noopsyche-box-body .clearfix .clearfix-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 428px;
  height: 182px;
}
.noopsyche-box .noopsyche-box-body .clearfix .clearfix-right img {
  width: 428px;
  height: 182px;
  margin-top: -2px;
}

#rightNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  background: black;
}

/*# sourceMappingURL=index.css.map */
